[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/.config/polybar/scripts/Gmail-Polybar"]
	path = dotfiles/.config/polybar/scripts/Gmail-Polybar
	url = https://github.com/Ruwey/Gmail-Polybar.git
