[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/.config/polybar/scripts/Gmail-Polybar"]
	path = dotfiles/.config/polybar/scripts/Gmail-Polybar
	url = https://github.com/Ruwey/Gmail-Polybar.git
[submodule "dotfiles/.emacs/.emacs.d/evil"]
	path = dotfiles/.emacs/.emacs.d/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "dotfiles/.emacs/.emacs.d/org-bullets"]
	path = dotfiles/.emacs/.emacs.d/org-bullets
	url = https://github.com/sabof/org-bullets.git
