##################################################
#  _____                                         #
#/\  _ `\   A Cool Guy (ruwey.com)               #
#\ \ \L\ \  __  __  __  __  __    __  __  ___    #
# \ \ ,  / /\ \/\ \/\ \/\ \/\ \ /'__\/\ \/\  \   #
#  \ \ \ \ \ \ \_\ \ \ \_/ \_/ /\  __\ \ \_\  \  #
#   \ \_\ \_\ \____/\ \___x___/\ \____\/\`____ \ #
#    \/_/\/ /\/___/  \/__//__/  \/____/\`/___/> \#
#        ____________________________________\  /#
#       /\_____________________________________/ #
#       \/____________________________________/  #
#                                                #
##################################################

# Config {{{
config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  keepdot: true
  minversion: 0.29.5
  import_variables:
    - colors/{{@@ colorscheme @@}}.yaml

#}}}

# Varaibles {{{
variables:
  colorscheme: "Nord"

#}}}

# Transformations {{{
trans_read:
  unencrypt: "gpg2 -q --for-your-eyes-only --no-tty -d {0} > {1}"
trans_write:
  encrypt: "gpg2 -r CE1DB345728014562E19AEF940CBAA1DA3094BB8 --output {1} --encrypt {0}"

#}}}

# Actions {{{
actions:
  pre:
    install-dein: test -e ~/.config/nvim/dein || (curl https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh > /tmp/dein-installer.sh; sh /tmp/dein-installer.sh ~/.config/nvim/dein) 
  post:
    install-zinit: test -e ~/.zinit || (sh -c "$(curl -fsSL https://raw.githubusercontent.com/zdharma/zinit/master/doc/install.sh)")
    install-doom: test -e ~/.emacs.d || (git clone --depth 1 https://github.com/hlissner/doom-emacs ~/.emacs.d; ~/.emacs.d/bin/doom install)
    install-cron: crontab ~/.config/crontab

#}}}

# Dotfiles {{{
# The first letter indicates the type:
# b     binding
# d     directory
# f     file
dotfiles:
  d_awesome:
    src: .config/awesome
    dst: ~/.config/awesome
    link: link_children
  d_bspwm:
    src: .config/bspwm
    dst: ~/.config/bspwm
  d_doom:
    src: .doom.d
    dst: ~/.doom.d
    actions:
      - install-doom
  d_gnupg:
    src: .gnupg
    dst: ~/.gnupg
    link: link_children
  d_herbstluft:
    src: .config/herbstluftwm
    dst: ~/.config/herbstluftwm
    link: link_children
  d_i3:
    src: .config/i3
    dst: ~/.config/i3
    link: link_children
  d_iosevka:
    src: .local/share/fonts/iosevka-ruwey
    dst: ~/.local/share/fonts/iosevka-ruwey
    link: link
  d_nvim:
    src: .config/nvim
    dst: ~/.config/nvim
    actions:
      - install-dein
  d_pictures:
    src: Pictures
    dst: ~/Pictures
    link: link
  d_polybar:
    src: .config/polybar
    dst: ~/.config/polybar
    link: link_children
  d_qutebrowser:
    src: .config/qutebrowser
    dst: ~/.config/qutebrowser
    link: link_children
  d_scripts:
    src: .scripts
    dst: ~/.scripts
    link: link
  d_spicetify:
    src: .config/spicetify
    dst: ~/.config/spicetify
    link: link_children
  # Generic keybindings
  d_sxhkd:
    src: .config/sxhkd/
    dst: ~/.config/sxhkd/
  d_termite:
    src: .config/termite
    dst: ~/.config/termite
  d_tridactyl:
    src: .config/tridactyl
    dst: ~/.config/tridactyl
    link: link_children
  f_alacritty:
    src: .config/alacritty
    dst: ~/.config/alacritty
    link: link
  f_autostart:
    src: .config/autostart.sh
    dst: ~/.config/autostart.sh
  f_crontab:
    src: .config/crontab
    dst: ~/.config/crontab
    actions:
      - install-cron
  f_dircolors:
    src: .dir_colors
    dst: ~/.dir_colors
    link: link
  f_eidolon:
    src: .config/eidolon/config.json
    dst: ~/.config/eidolon/config.json
    link: link
  f_rclone:
    src: .config/rclone/rclone.conf
    dst: ~/.config/rclone/rclone.conf
    trans_read: unencrypt
    trans_write: encrypt
  # Spotify Daemon
  f_spotifyd:
    src: .config/spotifyd/spotifyd.conf
    dst: ~/.config/spotifyd/spotifyd.conf
    trans_read: unencrypt
    trans_write: encrypt
  f_xinitrc:
    src: .xinitrc
    dst: ~/.xinitrc
  f_xresources:
    src: .config/Xresources
    dst: ~/.config/Xresources
  f_zlogout:
    src: .zlogout
    dst: ~/.zlogout
    link: link
  f_zprofile:
    src: .zprofile
    dst: ~/.zprofile
    link: link
    actions:
      - install-zinit
  f_zshrc:
    src: .zshrc
    dst: ~/.zshrc
    actions:
      - install-zinit
#}}}

# Profiles {{{
profiles:
  # Desktop
  terminator:
    dotfiles:
    - d_awesome
    - d_bspwm
    - d_doom
    - d_gnupg
    - d_herbstluft
    - d_i3
    - d_nvim
    - d_pictures
    - d_polybar
    - d_qutebrowser
    - d_scripts
    - d_sxhkd
    - d_tridactyl
    - d_termite
    - f_alacritty
    - f_autostart
    - f_rclone
    - f_spotifyd
    - f_xresources
    - f_zlogout
    - f_zprofile
    - f_zshrc

    variables:
      colorscheme: "Mntns"

  # Laptop
  bigbrother:
    dotfiles:
    - d_awesome
    - d_bspwm
    - d_doom
    - d_gnupg
    - d_iosevka
    - d_nvim
    - d_pictures
    - d_polybar
    - d_qutebrowser
    - d_scripts
    - d_spicetify
    - d_sxhkd
    - d_termite
    - d_tridactyl
    - f_autostart
    - f_crontab
    - f_dircolors
    - f_eidolon
    - f_rclone
    - f_spotifyd
    - f_xinitrc
    - f_zlogout
    - f_zprofile
    - f_zshrc
#}}}
